<style>
:root {
    --blue: #B7FBFF;
    --pink: #FFB7EB;
}
div.circles {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    position: absolute;
    opacity: 50%;
    z-index: 99;
}
div.circles#c-1 {
    top: 0;
    left: -9rem;
    background: var(--blue);
}
div.circles#c-2 {
    background: var(--pink);
    top: -7rem;
    left: -2rem;
}
</style>

<div id="c-1" class="circles"></div>
<div id="c-2" class="circles"></div>